.facets-browse-category-heading-list-header {
 display: block;
 position: relative;
 background: #666666;
 max-height: 400px;
 overflow: hidden;
 margin: -15px 0 0;
 padding: 0;
 background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
 
 .facets-browse-category-heading-main-description {
    @extend .container;
	padding: 2.5% 2.5% 4% 60px;

	@media (min-width: $screen-md-min) {
		padding: 2.5% 2.5% 4% 50px;
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
		padding: 2.5% 2.5% 4% 60px;
	}
  
  
  h1 {
   color: $white;
  }

 }
 
 .facets-browse-category-heading-main-image {
  display: block;
  
  img {
   display: block;
   width: 100%;
   opacity: 0.3;
  }
 }
}
.facets-faceted-navigation-item-category{
    display:none;
}

.facets-facet-browse-content{
    margin-top: $sc-margin-lv2;

	@media (min-width: $screen-md-min)
	{
		margin-top: $sc-margin-lv4;
	}
}
