.product-details-multibuy-container {
    @extend .row;
    display: flex;

    .global-views-message {
        margin: 15px 0 0;
    }
}

.product-details-multibuy-quantities {
    @extend .col-xs-9;
    @extend .col-sm-10;
}

.product-details-multibuy-actions {
    @extend .col-xs-3;
    @extend .col-sm-2;
}

.product-details-multibuy-quantity-table-desktop,
.product-details-multibuy-quantity-table-mobile {
    >tbody>tr:nth-of-type(even) {
        background-color: $table-bg-accent;
    }

    display: none;
    border-collapse: collapse;
    border-spacing: 0px;

    td {
        display: table-cell;
        text-align: right;
        vertical-align: middle;
        border-bottom: 1px solid $sc-color-theme-border-light;

        @media (min-width: $screen-md-min) {
            height: 60px;
        }
    }

    th {
        text-align: right;
        padding-bottom: $sc-padding-lv2;
        padding-top: $sc-padding-lv2;
        font-weight: normal;
        border-bottom: 1px solid $sc-color-theme-border-light;
        display: table-cell;
    }

}

.product-details-multibuy-color {
    border-right: 1px solid $sc-color-theme-border;
    background-color: $sc-color-theme-border-light;
    border-bottom-style: none !important;
    min-width: 100px;
    text-align: center !important;
    font-size: $sc-font-size-s;

}

.product-details-multibuy-color2 {
    border-right: 1px solid $sc-color-theme-border;
    background-color: $sc-color-theme-border-light;
    border-bottom-style: none !important;
    min-width: 100px;
    width: auto;
    text-align: center !important;
    font-size: $sc-font-size-s;
    padding: $sc-padding-lv5 $sc-padding-lv2;
    display:block;
    margin-bottom: $sc-margin-lv3;
    min-width: 100px;
    width: auto;
    float: left;
}

.product-details-multibuy-cell{
    background-color: $sc-color-theme-border-light;
    display: block;
    text-align: center !important;
    font-size: $sc-font-size-s;
float: left;
margin-bottom: $sc-margin-lv3;
color:$sc-color-copy-light;
}
.product-details-multibuy-cell-size{
    padding:$sc-padding-lv2;
    display: block;
    width:auto;
}
.product-details-multibuy-cell-length{
    padding:$sc-padding-lv2;
    display: block;
    width:auto;
}
.product-details-multibuy-flex{
    display:flex;
}

.product-details-multibuy-spacer {
    background-color: transparent !important;

    td {
        height: 15px !important;
        padding: 0 !important;
        font-size: 1px;
        border-bottom-style: none !important;
    }
}

.product-details-multibuy-quantity-td {
    padding-right: 2px !important;
}

.product-details-multibuy-quantity-table-mobile {
    display: table;

    @media (max-width: $screen-xs-max) {
        width: 100%;
    }
}

@media (min-width: $screen-md-min) {

    .product-details-multibuy-quantity-table-desktop {
        display: table;
    }

    .product-details-multibuy-quantity-table-mobile {
        display: none;
    }
}

.mycatalogue-list-item-name {
    color: $sc-color-copy;
}

.product-details-multibuy-quantity-input {
    display: block;
    width: 40px;
    margin: 0 auto;
    padding: 10px 0px;
    border: none;
    font-size: $sc-font-size-m;
    text-align: right;
    outline: none !important;
    background-color: transparent;

}


.product-details-multibuy-button-container {
    position: sticky;
    position: -webkit-sticky;
    top: 70px;
    width: 100%;
    padding: 0;
}

.product-details-multibuy-addtocart-button,
.product-details-multibuy-gotocolour-button {
    @extend .button-primary;
    @extend .button-large;
    width: 100%;
    font-weight: $sc-font-weight-semibold;
    min-width: 0;
    margin: 0 0 0 auto;
    padding: 15px;
}

.product-details-multibuy-addtocart-button {
    margin-bottom: $sc-margin-lv3;
}

.product-details-multibuy-colour {
    display: flex;
    flex-wrap: wrap;
}

.product-details-multibuy-colour-tile {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 10px 10px 7px;
    border: 1px solid $sc-color-theme-border;
    color: #777777;
    line-height: 1em;
    cursor: pointer;
    min-width: 160px;
    text-align: center;
    font-size: $sc-font-size-xs;

    &:hover {
        background-color: #777777;
        color: #fff;
    }
}

.product-details-multibuy-single-quantity {
    margin-top: 20px;
    clear: both;

    [data-validation-error="block"] {
        margin-top: $sc-margin-lv2;
    }
}

.product-details-multibuy-single-quantity-title {
    text-transform: uppercase;
    margin-bottom: $sc-margin-lv2;
    display: block;
    font-weight: $sc-font-weight-bold;
}

.product-details-multibuy-single-quantity-input {
    text-align: center;
    @extend .quantity-input;
}

.swatch-BLACK {
    background-color: #333;
    color: #EEE;
}

.swatch-NAVY {
    background-color: navy;
    color: #EEE;
}

.swatch-BLUE {
    background-color: blue;
    color: #EEE;
}

.swatch-GREEN {
    background-color: green;
    color: #EEE;
}

.swatch-TAN {
    background-color: tan;
    color: #EEE;
}

.swatch-HONEY {
    background-color: #E6A54B;
    color: #EEE;
}

.swatch-ASH-GREY {
    background-color: #E5E5E5;
    color: #333;
}

.swatch-GREY {
    background-color: #888888;
    color: #333;
}

.swatch-HEATHER-GREY {
    background-color: #CFD2D7;
    color: #333;
}

.swatch-CONVOY-GREY {
    background-color: #576069;
    color: #EEE;
}

.swatch-CHARCOAL {
    background-color: #5E6366;
    color: #EEE;
}

.swatch-BOTTLE-GREEN {
    background-color: #093624;
    color: #EEE;
}

.swatch-EMERALD {
    background-color: #00736C;
    color: #EEE;
}

.swatch-BURGUNDY {
    background-color: #900020;
    color: #EEE;
}

.swatch-GRAPHITE-GREY {
    background-color: #251607;
    color: #EEE;
}

.swatch-PURPLE {
    background-color: purple;
    color: #EEE;
}

.swatch-RED {
    background-color: red;
    color: #EEE;
}

.swatch-ROYAL-BLUE {
    background-color: royalblue;
    color: #EEE;
}

.swatch-SKY-BLUE {
    background-color: skyblue;
    color: #333;
}

.swatch-YELLOW {
    background-color: #FFFF00;
    color: #333;
}

.swatch-WHITE {
    background-color: #FEFEFE;
    color: #333;
}

.swatch-KELLY-GREEN {
    background-color: #008766;
    color: #EEE;
}

.swatch-ORANGE {
    background-color: orange;
    color: #EEE;
}

.swatch-LIME {
    background-color: limegreen;
    color: #EEE;
}

.swatch-SPRUCE-GREEN {
    background-color: #81A5A5;
    color: #EEE;
}

.swatch-AZTEC-BLUE {
    background-color: #2668A7;
    color: #EEE;
}

.swatch-OXFORD-BLUE {
    background-color: #BBD6EC;
    color: #EEE;
}

.swatch-OXFORD-SILVER {
    background-color: silver;
    color: #EEE;
}

.swatch-GOLD {
    background-color: gold;
    color: #333;
}

.swatch-MAROON {
    background-color: maroon;
    color: #EEE;
}

.swatch-OCEAN-BLUE {
    background-color: #0077BE;
    color: #EEE;
}

.swatch-OCEAN-TURQUOISE {
    background-color: turquoise;
    color: #EEE;
}

.swatch-BLACK-GREY {
    background: #333333;
    background: linear-gradient(160deg, #333333 66%, #999999 68%) !important;
    color: #EEE;
}

.swatch-BLACK-LIME {
    background: #333333;
    background: linear-gradient(160deg, #333333 66%, limegreen 68%) !important;
    color: #EEE;
}

.swatch-BLACK-ORANGE {
    background: #333333;
    background: linear-gradient(160deg, #333333 66%, orange 68%) !important;
    color: #EEE;
}

.swatch-NAVY-RED {
    background: #333333;
    background: linear-gradient(160deg, navy 66%, red 68%) !important;
    color: #EEE;
}

.swatch-NAVY-ROYAL-BLUE {
    background: #333333;
    background: linear-gradient(160deg, navy 66%, royalblue 68%) !important;
    color: #EEE;
}

.swatch-NAVY-SKY-BLUE {
    background: #333333;
    background: linear-gradient(160deg, navy 66%, skyblue 68%) !important;
    color: #EEE;
}

.swatch-NAVY-WHITE {
    background: #333333;
    background: linear-gradient(160deg, navy 66%, #FEFEFE 68%) !important;
    color: #EEE;
}

.swatch-RED-WHITE {
    background: #333333;
    background: linear-gradient(160deg, red 66%, #FEFEFE 68%) !important;
    color: #EEE;
}

.swatch-GREEN-ORANGE {
    background: #333333;
    background: linear-gradient(160deg, green 66%, orange 68%) !important;
    color: #EEE;
}

.swatch-YELLOW-NAVY {
    background: #333333;
    background: linear-gradient(160deg, yellow 66%, navy 68%) !important;
    color: #333;
}

.swatch-YELLOW-BLACK {
    background: #333333;
    background: linear-gradient(160deg, yellow 66%, #333 68%) !important;
    color: #333;
}

.swatch-BLUE-BLACK {
    background: #333333;
    background: linear-gradient(160deg, blue 66%, #333 68%) !important;
    color: #333;
}