.header-menu-alert-icon {
	@extend .fa;
	@extend %fa-bell;
	font-size: $sc-font-size-l;
	line-height: $sc-target-size;
	min-width: $sc-target-size*.8;
	color: $sc-color-secondary;
}
.header-alert{
    color: $sc-color-theme!important;
    i{
        color: $sc-color-theme!important;
    }
}
.header-alert-enabled{
    color: $sc-color-secondary!important;
    i{
        color: $sc-color-secondary!important;
    }
}