/*
	Sass Application Entry Point
	Link all your sass dependencies in the right order

	Example:
	@import "other-sass-file.scss";
	@import "../../<other module>/Sass/other-sass-file.scss";
*/

.mi365-info-card {
	margin-top: $sc-padding-lv3;
	margin-bottom: $sc-padding-lv3;
}

.mi365-info-card-content {
	@extend .info-card-content;
	color: $sc-color-secondary;
	font-weight: bold;
}

.mi365-records {
	@extend .table-flex-record-selectable-navigable;
}

.mi365-records-head tr {
	display: none;

	@media (min-width: $screen-md-min) {
		display: table-row;
	}
}

.mi365-records-head th {
	text-align: right;
	padding-bottom: $sc-padding-lv2;
	font-weight: normal;
	border-bottom: 1px solid $sc-color-theme-border-light;
}

.mi365-records-body td {
	vertical-align: middle;

	@media (min-width: $screen-md-min) {
		height: 60px;
	}
}

.mi365-information-row,
.mi365-information-form-actions {
	margin-top: $sc-margin-lv4;
}

.mi365-information-input-required {
	@extend .input-required;
}

.mi365-information-input-optional {
	@extend .input-optional;
}

.mi365-information-input-large {
	@extend .input-large;
}

.mi365-information-input-readonly {
	label {
		text-align: right;
		display: inline-block;
		padding-right: 10px;
		color: #666;
		min-width: 150px;
	}

	input {
		border: none;
		padding: 0;
		display: inline-block;
		color: $sc-color-copy-dark;
		width: auto !important;
	}

	div {
		display: inline;
	}
}

.mi365-information-button-update {
	@extend .button-primary;
	@extend .button-medium;
	margin-right: $sc-margin-lv2;
	margin-bottom: $sc-margin-lv2;

	@media (min-width: $screen-sm-min) {
		margin-bottom: 0;
	}
}

.mi365-fields-group-input-checkbox {
	font-weight: $sc-font-weight-normal;
}

.mi365-icon {
	text-align: right;
	display: inline-block;
	padding-right: 10px;
}

.mi365-icon-true {
	@extend .icon-ok-sign;
	color: $sc-color-success;
}

.mi365-icon-false {
	@extend .fa;
	@extend %fa-times-circle;
	color: $sc-color-theme-500;
}

#mySignCanvas {
	max-width: 600px;
	max-height: 300px;
	display: block;
}

.readonly-sign {
	max-width: 400px !important;
	max-height: 200px !important;
}

.mi365-button {
	@extend .button-secondary;
	@extend .button-medium;
	margin-bottom: $sc-margin-lv1;
	min-width: 150px;
	
}

a[data-id="mi365"] {
	display: none;
}
a[data-id="billing"] {
	display: none;
}
a[data-id="quotes"] {
	display: none;
}

.mi365-status-success {
	color: $sc-color-success;
}

.mi365-status-warning {
	color: $sc-color-warning;
}

.mi365-status-error {
	color: $sc-color-error;
}

.cart-warning-icon {
	@extend .icon-warning;
}
.mi365-icon-svg{
	width:32px;height:32px;
	background-size: 100% 100%;
	display:inline-block;

	@media (min-width: $screen-md-min) {
		width: 40px;
	height: 40px;
	}

}
.mi365-icon-buyer {
	@extend .mi365-icon-svg;
	background-image:url(getExtensionAssetsPath('img/buyer-icon.svg'));
}

.mi365-icon-area {
	@extend .mi365-icon-svg;
	background-image:url(getExtensionAssetsPath('img/area-icon.svg'));
}

.mi365-icon-wearer {
	@extend .mi365-icon-svg;
	background-image:url(getExtensionAssetsPath('img/wearer-icon.svg'));
}
.mi365-icon-wearers {
	@extend .mi365-icon-svg;
	background-image:url(getExtensionAssetsPath('img/wearers-icon.svg'));
}

.mi365-icon-alert {
	@extend .mi365-icon-svg;
	background-image:url(getExtensionAssetsPath('img/alerts-icon.svg'));
}
.mi365-icon-report {
	@extend .mi365-icon-svg;
	background-image:url(getExtensionAssetsPath('img/reports-icon.svg'));
}
.mi365-icon-rule {
	@extend .mi365-icon-svg;
	background-image:url(getExtensionAssetsPath('img/rule-icon.svg'));
}
.mi365-icon-stock {
	@extend .mi365-icon-svg;
	background-image:url(getExtensionAssetsPath('img/stock-icon.svg'));
}
.mi365-transfer-rule {
	@extend .mi365-icon-svg;
	background-image:url(getExtensionAssetsPath('img/transfer-icon.svg'));
}
.mi365-buttonicon-buyer {
	@extend .fa;
	@extend %fa-credit-card;
}
.mi365-buttonicon-item {
	@extend .fa;
	@extend %fa-external-link;
}

.mi365-buttonicon-area {
	@extend .fa;
	@extend %fa-map-o;
}

.mi365-buttonicon-wearer {
	@extend .fa;
	@extend %fa-user;
}
.mi365-buttonicon-wearers {
	@extend .fa;
	@extend %fa-users;
}

.mi365-buttonicon-alert {
	@extend .fa;
	@extend %fa-bell;
}
.mi365-buttonicon-report {
	@extend .fa;
	@extend %fa-bar-chart;
}

.mi365-buttonicon-stock {
	@extend .fa;
	@extend %fa-archive;
}
.mi365-buttonicon-rule {
	@extend .fa;
	@extend %fa-hand-stop-o;
}
.mi365-buttonicon-transfer {
	@extend .fa;
	@extend %fa-exchange;
}
.mi365-buttonicon-new {
	@extend .fa;
	@extend %fa-plus-circle;
}
.mi365-buttonicon-delete {
	@extend .fa;
	@extend %fa-trash;
}
.mi365-buttonicon-confirm {
	@extend .fa;
	@extend %fa-check-circle;
}

.mi365-dashboard-button {
	@extend .col-xs-6;
	@extend .col-sm-3;
	@extend .col-md-2;

	a {
		display: block;
		text-align: center;
		font-size: $sc-h4-font-size;
		
		border:1px solid $sc-color-theme-border-light;
		padding:$sc-padding-lv2 $sc-padding-lv2 0 $sc-padding-lv2;
		margin-top:$sc-margin-lv3;
		margin-bottom:$sc-margin-lv3;

		&:hover{
			border:1px solid $sc-color-theme-border;
			background-color:$sc-color-theme-100;
		}

		@media (min-width: $screen-md-min) {
			font-size: $sc-h4-desktop-font-size;
			padding:$sc-padding-lv4;
		}

		i {
			width: 64px;
			height: 64px;

			@media (min-width: $screen-md-min) {
				width: 96px;
			height: 96px;
			}

			margin-bottom: $sc-margin-lv2;
			display:block!important;
			margin-left:auto;
			margin-right:auto;
		}

	}
}
.mi365-report-total{
	padding:$sc-padding-lv3;
	font-weight:bold;
	text-align: right;
}
.header-mini-cart-buttons-right{
	display:none;
}
.header-mini-cart-buttons-left{
	width:100%;
	padding-right:0px;
}
.muted-item{
	font-size: 12px;
display: inline-block;
margin-left: 10px;
color: #888;
}