.mycatalogue-container {
 @extend .container;
}

.mycatalogue-list-header {
 
 padding: $sc-padding-lv3 0;
}

.mycatalogue-list .transaction-line-views-cell-actionable-options {
 @media (min-width: $screen-sm-min){
  margin-bottom:$sc-margin-lv2;
 }
}

.mycatalogue-list .list-header-view-filters {
 padding: 0;
}

.mycatalogue-list .transaction-line-views-cell-actionable-table{
 border-bottom: 1px solid $sc-color-theme-border-light;
 @extend .table-row-with-border;
}

.mycatalogue-actions-quantity{
 clear:both;
 display: block;
 overflow: hidden;
 margin-bottom:$sc-margin-lv2;
}

.mycatalogue-list-empty {
 @extend .list-empty;
}

.mycatalogue-list-items-container {
 @extend .row;
 display: flex;
 
 .global-views-message {
  margin: 15px 0 0;
 }
}

.mycatalogue-list-items {
 @extend .col-sm-10;
 
 .product-details-multibuy-quantities {
  width: 100%;
 }
}

.mycatalogue-list-item-actions {
 @extend .col-sm-2;
}

.mycatalogue-list-items-table{
 @extend .transaction-line-views-cell-actionable-table;
}

.mycatalogue-list-paginator{
 @extend .case-list-paginator !optional;
}

.mycatalogue-list-empty-section {
 padding:$sc-padding-lv8 $sc-padding-lv3 $sc-padding-lv3 $sc-padding-lv3;
  text-align:center;
}

.mycatalogue-list {
 .quantity-pricing-flyout-content {
  padding: 0;

  tr {
   border-bottom: 0;
  }
  th,
  .quantity-pricing-table-body-quantity,
  .quantity-pricing-table-body-price {
   display: table-cell;
   padding: $sc-padding-lv1;
  }
 }
}

.mycatalogue-list-item {
 @extend .row;
 @extend .item-cell;

 .cart-add-to-cart-button-container {
  padding-left:0px;
 }

 .cart-quickaddtocart-price {
  margin-bottom:$sc-margin-lv2;
 }

 .product-line-stock {
  clear:both;
 }
}

.mycatalogue-list-item-quick-view-wrapper {
 @extend .item-cell-quick-view-wrapper;
}

.mycatalogue-list-item-quick-view-link {
 @extend .item-cell-quick-view-link;
}

.mycatalogue-list-item-left {
 @extend .col-xs-4;
 @extend .col-sm-2;
}
.mycatalogue-list-item-left-2 {
  @extend .col-xs-4;
  @extend .col-sm-4;
  @extend .col-md-4;
 }
 
.mycatalogue-list-item-middle {
 @extend .col-xs-8;
 @extend .col-sm-5;
 @extend .col-md-3;

 .item-views-price {
  text-align:left;
 }
}

.mycatalogue-list-item-middle-2 {
  @extend .col-xs-8;
  @extend .col-sm-5;
 
  .item-views-price {
   text-align:left;
  }
 }

.mycatalogue-list-item-right {
 @extend .col-xs-12;
 @extend .col-md-7;
}
.mycatalogue-list-item-right-2 {
  @extend .col-xs-12;
  @extend .col-md-3;
 }

.mycatalogue-list-item-image-wrapper {
 position:relative;
 text-align:center;
}

.mycatalogue-list-item-stock-message {
 text-align:left;
}

.mycatalogue-list-item-details {
 text-align:center;
}

.mycatalogue-list-item-image {
 width:100%;
 height:auto;
}

.mycatalogue-list-item-title {
 @extend .item-cell-title;
 text-align:left;
 padding-bottom:0;
}

.mycatalogue-list-item-price {
 @extend .small-price;
 margin-bottom:$sc-margin-lv2;
}

.mycatalogue-list-item-rating {
 text-align:center;
 display: inline-block;
}

.mycatalogue-list-item {
 .global-views-star-rating-area {
  margin-bottom:$sc-margin-lv2;
 }
}